<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><! <html class="no-js"> <![endif] -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Johnson Lab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/f5d551ddb0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <div class="Navbar fixed-top">
            <div class="Navbar_Link Navbar_Link-brand"><a href="/">Johnson Lab</a></div>
            <div class="Navbar_Link Navbar_Link-toggle"><i class="fas fa-fish fa-lg"></i></div>
            <nav class="Navbar_Items Navbar_Items--right">
                <div class="Navbar_Link"><a href="/research">Research</a></div>
                <hr/>
                <div class="Navbar_Link"><a href="/people">People</a></div>
                <hr/>
                <div class="Navbar_Link"><a href="/papers">Papers</a></div>
                <hr/>
                <div class="Navbar_Link"><a href="/contact">Contact</a></div>
            </nav>
        </div>