<%- include("./partials/header") %>

<div class="contact jumbotron">
    <h1>Contact Us</h1>
    <hr class="my-4">
	<div class="container">
		<h1>Offices and Labs</h1>
		<div class="row justify-content-start">
			<div class="col-4">Dr. Johnson's Office</div>
			<div class="col-4">ALS 2041</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-4">Johnson Laboratory</div>
			<div class="col-4">ALS 2071</div>
		</div>
		<h1>For Research Inquiries</h1>
		<div class="col-12">Colin Johnson, Ph.D.</div>
		<div class="col-12">Associate Professor</div>
		<div class="col-12">Department of Biophysics and Biochemistry</div>
		<div class="col-12">Oregon State University</div>
		<div class="col-12">Corvallis, OR 97331</div>
		<br>
		<div class="col-12">Phone: </div>
		<div class="col-12">Email: </div>
	</div>
    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
</div>


<%- include("./partials/footer") %>