<%- include("./partials/header") %>

<!-- <div id="landing-header" style="z-index: 1;position: relative;
                                text-align: center;padding-top: 10vh;">
   <img style="width:900px;height:240px;" src="/images/lab-name-banner.png" alt=""> 
</div> -->


<section class="hero">
   <!-- <div class="background-image" style="background-image: url('phalloidin-mutant-hero-image.png');"></div> 
           Want this to work, but just not getting it at the moment-->
   <div class="hero-content-area">
       <img src="/images/lab-name-banner.png" alt="">
   </div>
</section>

<%- include("./partials/footer") %>