<%- include("./partials/header") %>

<div id="landing-header" style="z-index: 1;position: relative;
                                text-align: center;padding-top: 10vh;">
   <img style="width:900px;height:240px;" src="/images/lab-name-banner.png" alt=""> 
</div>


<%- include("./partials/footer") %>