<%- include("./partials/header") %>

<div class="container" style="padding: 10vh;">
    <h1 style="color:white;">Research Page</h1>
    <hr>
    <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Nibh nisl condimentum id venenatis. Arcu dictum varius duis at consectetur. Faucibus a pellentesque sit amet porttitor eget 
      dolor morbi non. Lacus laoreet non curabitur gravida. Congue mauris rhoncus aenean vel elit scelerisque. Blandit turpis cursus 
      in hac habitasse platea dictumst quisque. Condimentum id venenatis a condimentum. Consequat semper viverra nam libero justo laoreet. 
      Arcu dictum varius duis at consectetur lorem donec massa sapien. Sapien faucibus et molestie ac feugiat sed lectus vestibulum.
    </p>
</div>

<%- include("./partials/footer") %>