<%- include("./partials/header") %>

<div class="research jumbotron">
  <h1 class="display-4">What We Do</h1>
  <hr class="my-4">
  <p>Our research is focused on a family of calcium sensing proteins known as the ferlins, which regulate vesicle trafficking and have been linked to several human pathologies. Specifically, work currently focuses on the muscle protein dysferlin, which is believed to repair damage to the cell membrane of muscle in response to elevated calcium concentrations. Mutations in dysferlin are responsible for several forms of muscular dystrophy, suggesting a key role for the protein in muscle physiology. Another ferlin of interest is otoferlin. Otoferlin controls the release of neurotransmitter during the encoding of sound in the brain. Mutations in otoferlin have been linked to deafness in human patients.</p>

	<p>We are interested in determining how these proteins work, and how the ferlin family has diverged functionally to adopt such a wide range of physiological roles with the ultimate goal of understanding ferlin-related diseases, and aiding in the design of therapeutics for treatment.</p>
</div>

<%- include("./partials/footer") %>