*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{/* children: head, body*/
    font: normal 16px sans-serif;
    /* color: #11fe00; */
}

body{/* children: header, section.hero, section.more-info*/
    background-color: #191315;
    display: flex;
    flex-direction: column;
}

nav{/* children: li*/
    list-style: none;
}

a{/* links: Johnson Lab, Research, People, Papers, Contact*/
    text-decoration: none;
    opacity: 0.7;
    color: #11fe00;
}

a:hover{
    text-decoration: none;
    opacity: 1;
}

section{/* children: .hero-content-area*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 80px;
}

section p{
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px){
    section{
        padding: 50px 20px;
        margin: 40px;
    }
}

  /* Header Styles */
  
header{/* children: h2, nav*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 10px;
    /* color: #11fe00; */
    /* background-color: #34403A; */
    opacity: 0;
    animation: 2s fadein 0.5s forwards;
    position: absolute;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand", sans-serif;
}

header nav{
    margin: -15px;
    display: flex;
    flex-direction: row;
}

header nav li{
    margin: 0 15px;
}

@media (max-width: 800px){
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
    header h2{
        margin-bottom: 35px;
    }
}

  /* Hero Styles */

.hero{
    /* position: relative; I took this out while trying to get the <a> tags to respond to :hover,
                    it worked but I'm not sure why or how*/
    justify-content: center;
    text-align: center;
    color: #F3EFF5;
    min-height: 45vh;
}

/* .hero .background-image{         This background-image is just not showing up
    position: absolute;             I need to figure this out still.
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    z-index: -1;
    background-color: #95D9C3;
    background-repeat: no-repeat;
} */

.hero img{
    width: 800px;
}

.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px){
    .hero img{
        width: 600px;
    }
}
/* More Info Styles 
    Need to run a spike on building this bottom row of images/links. 
.more-info{
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    min-height: 45vh;
}

.more-info .link{
    flex-basis: 33%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    overflow: hidden;
    border: solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('labpeople.png');
}

.more-info .link img{
    max-width: 100%;
    vertical-align: top;
    height: 350px;
    padding: 20px;
    background-clip: content-box; /* content-box: background is painted within (clipped to) the content box */
   /* background-size: 25%;/*cover;  cover: Scales image as large as possible w/o stretching image. 
                                If proportions of image differ from element, it is cropped either
                                vertically or  horizontally so that no empty space remains.*/
   /* background-position: center; /* centers the image */
/*}

.more-info p{
    color: #95D9C3;
}*/