.Navbar{
    background-color: #11fe00;
    display: flex;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

.Navbar_Items{
    display: flex;
}

.Navbar_Link{
    padding-right: 8px;
}

.Navbar_Items--right{
    margin-left: auto;
}

.Navbar_Link-toggle{
    display: none;
}

/* .fas{
    color: #000000;
} */

.Navbar_Link > a{
    color: #000000;
    text-decoration: none;
}
/* .fa-fish{
    margin-bottom: 5px;
} */

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
    .Navbar_Items{
        display: none;
    }
    .Navbar_Items--right{
        margin-left: 0;
    }
    .Navbar_Link-toggle{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .Navbar_ToggleShow{
        display: flex;
        margin-left: auto;
    }
}