.Navbar{
    background-color: #191315;
    display: flex;
    padding: 16px;
    color: #11fe00;
}

.Navbar a{
    text-decoration: none;
    opacity: 0.7;
}

.Navbar a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.Navbar_Link-brand{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.Navbar_Items{
    display: flex;
}

.Navbar_Link{
    padding-right: 8px;
}

.Navbar_Items--right{
    margin-left: auto;
}

.Navbar_Link-toggle{
    display: none;
}

.Navbar_Link a{
    color: #11fe00;
    text-decoration: none;
    opacity: 0.7;
}

.Navbar_Link a:hover{
    text-decoration: none;
    opacity: 1;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
    .Navbar_Items{
        display: none;
    }
    .Navbar_Items--right{
        margin-left: 0;
    }
    .Navbar_Link-toggle{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .Navbar_ToggleShow{
        display: flex;
        margin-left: auto;
    }
}