<<<<<<< HEAD
.labphoto{
    /* top | right | bottom | left */
    margin: -100px 0px -150px 0px;
    max-width:100%;
    height:auto;
}

.img-container{
    width: auto; /* width of container */
    height: auto; /* height of container */
    overflow: hidden;
=======
html{/* children: head, body*/
    font: normal 16px sans-serif;
    background-color: #191315;
    /* color: #11fe00; */
>>>>>>> 4e4a991c7b6763e8a2f293b261a6acd15f020742
}

body{
    background-color: #191315;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1, h2, h3, h4{
    color: #11fe00;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

.container h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 25px;
    color: white
}

/* Navbar Styles */

.Navbar{
    background-color: #191315;
    display: flex;
    padding: 16px;
    color: #11fe00;
    opacity: 0;
    animation: 2s fadein forwards;
}

.Navbar a{
    text-decoration: none;
    opacity: 0.7;
}

.Navbar a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.Navbar_Link-brand{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.Navbar_Items{
    display: flex;
}

.Navbar_Link{
    padding-right: 8px;
}

.Navbar_Items--right{
    margin-left: auto;
}

.Navbar_Link-toggle{
    display: none;
}

.Navbar_Link a{
    color: #11fe00;
    text-decoration: none;
    opacity: 0.7;
}

.Navbar_Link a:hover{
    text-decoration: none;
    opacity: 1;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
    .Navbar_Items{
        display: none;
    }
    .Navbar_Items--right{
        margin-left: 0;
    }
    .Navbar_Link-toggle{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .Navbar_ToggleShow{
        display: flex;
        margin-left: auto;
    }
}

/* Landing Page Styles */

.hero{
    /* position: relative; I took this out while trying to get the <a> tags to respond to :hover,
                    it worked but I'm not sure why or how*/
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F3EFF5;
    min-height: 45vh;
}

.hero img{
    width: 800px;
}

.hero-content-area{
    opacity: 0;
    margin-top: 200px;
    animation: 1.5s heroslidefade 1s forwards;
}

@keyframes heroslidefade{
    100%{
        opacity: 1;
        margin-top: 100px;
    }
}

@media (max-width: 800px){
    .hero img{
        width: 600px;
    }
}

/* People Styles */

.people.img-container{ /* Holds the lab group photo */
    width: auto; /* width of container */
    height: auto; /* height of container */
    overflow: hidden;
}

.people.img-container .labphoto{
    /* top | right | bottom | left */
    margin-top: 100px;
    max-width:100%;
    height:auto;
    opacity: 0;
    animation: 2s slidefade 1s forwards;
}

@keyframes slidefade{
    100%{
        margin: 0 0px -150px 0px;
        opacity: 1;
    }
}

.people.container{ /* Holds all of the people cards */
    opacity: 0;
    animation: 2s fadein 2s forwards;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

section:not(.img-container, .hero):nth-child(even){
    background-color: #454955;
}

.former-members{
    justify-content: space-between;
}

section.container{
    border-radius: 5px;
    margin-bottom: 15px;
    /* align-items: flex-start; */
}

.undergrads .card{
    text-align: center;
    word-wrap: normal;
}

#researchphoto{height: 800 px ; width: auto;}

.card{
    background-color: #191315;
    margin: 10px;
    border: none;
}

/* .card-columns {
    column-count: 2;
} */

/* Papers Styles */

.papers.img-container{/* Holds the papers page banner photo */
    width: auto; /* width of container */
    height: auto; /* height of container */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #191315;
}

.papers.img-container .labphoto{
    /* top | right | bottom | left */
    margin-top: 170px;
    margin-bottom: 20px;
    max-width:100%;
    height:auto;
    opacity: 0;
    animation: 2s papersslidefade 1s forwards;
}

@keyframes papersslidefade{
    100%{
        margin: 70px 0px -10px 0px;
        opacity: 1;
    }
}

.papers.container{ /* Holds all of the paper cards */
    margin-top: 40px;
    opacity: 0;
    animation: 2s fadein 2s forwards;
}

.papers h1{
    margin-bottom: 50px;
}

.papers.container .row{
    align-items: center;
}

.paper-card{
    padding: 10px;
}

.paper-card:nth-child(even){
    background-color: #454955;
}

/* Contact Styles */

.contact.jumbotron{
    justify-content: flex-start;
    margin: 150px 45px;
    opacity: 0;
    animation: 1.5s fadein forwards;
    /* vertical-align: center; */
    background-color: #95D9C3;
    color: #ffff;
}

.contact.jumbotron h1{
    color: #ffff;
}

/* label{
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #11fe00;
<<<<<<< HEAD
}

#papersHeader{
	display: block;
	margin: 0 auto;
}

input{
	display: block;
	margin: 0 0;
}

.contact-form{
	margin: 0 auto;
}

form{
	padding: 0;
}

.contact-header{
	margin-top: 50px;
}
=======
} */

>>>>>>> 4e4a991c7b6763e8a2f293b261a6acd15f020742
