:root {
    --color-background: #191315;
    --font-color-primary: #11fe00;
    --font-primary: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    color: var(--font-color-primary)
}

a{
    color: var(--font-color-primary);
    text-decoration: none;
}


/* TODO: Refactor header styles to select with class names */
/* .container h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 25px;
    color: white
} */

/* Navbar Styles */
.fixed-top{
    position: sticky;
    top: 0;
}

.Navbar{
    background-color: #191315;
    display: flex;
    padding: 16px;
    color: #11fe00;
}

.Navbar a{
    text-decoration: none;
    opacity: 0.7;
}

.Navbar a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.Navbar_Link-brand{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.Navbar_Items{
    display: flex;
}

.Navbar_Link{
    padding-right: 8px;
}

.Navbar_Items--right{
    margin-left: auto;
}

.Navbar_Link-toggle{
    display: none;
}

.Navbar_Link a{
    color: #11fe00;
    text-decoration: none;
    opacity: 0.7;
}

.Navbar_Link a:hover{
    text-decoration: none;
    opacity: 1;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .Navbar_Items,
    .Navbar{
        flex-direction: column;
    }
    .Navbar_Items{
        display: none;
    }
    .Navbar_Items--right{
        margin-left: 0;
    }
    .Navbar_Link-toggle{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .Navbar_ToggleShow{
        display: flex;
        margin-left: auto;
    }
}

/* Landing Page Styles */

.hero{
    /* position: relative; I took this out while trying to get the <a> tags to respond to :hover,
                    it worked but I'm not sure why or how*/
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F3EFF5;
    min-height: 45vh;
}

.hero img{
    width: 800px;
}

.hero-content-area{
    opacity: 0;
    margin-top: 200px;
    animation: 1.5s heroslidefade 1s forwards;
}

@keyframes heroslidefade{
    100%{
        opacity: 1;
        margin-top: 100px;
    }
}

@media (max-width: 800px){
    .hero img{
        width: 600px;
    }
}

/* People Styles */

.people-img-container{ 
    width: auto; 
    height: auto; 
    overflow: hidden;
}

.lab-photo{
    max-width:100%;
    height:auto;
    margin-top: -9rem;
    margin-bottom: 3rem;
}

.people-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.people-main-title{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: var(--font-color-primary) 0.5rem solid;
    text-align: center;
}

.people-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (min-device-width: 800px){
    .people-card{
        flex-direction: row;
    }
}

.people-avatar{
    width: 25%;
    border-radius: 50%;
    align-self: center;
    margin: 1rem;
}

.people-body{
    margin-left: 0.7rem;
}

.people-name{
    color: white;
}

@media only screen and (min-device-width: 1400px){
    .people-name{
        font-size: 2rem;
    }
    
    .people-credentials, .people-bio{
        font-size: 1.5rem;
    }
}

.list-current-postdocs, .list-current-grads, .list-current-undergrads{
    padding-inline-start: 0;
    list-style: none;
}

/*.people.container{ 
    opacity: 0;
    animation: 2s fadein 2s forwards;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

section:not(.img-container, .hero):nth-child(even){
    background-color: #454955;
}

.former-members{
    justify-content: space-between;
}

section.container{
    border-radius: 5px;
    margin-bottom: 15px;
}

.undergrads .card{
    text-align: center;
    word-wrap: normal;
}

#researchphoto{height: 800 px ; width: auto;}

.card{
    background-color: #191315;
    margin: 10px;
    border: none;
} */

/* Papers Styles */

.papers.img-container{/* Holds the papers page banner photo */
    width: auto; 
    height: auto; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #191315;
}

.papers.img-container .labphoto{
    margin-top: 170px;
    margin-bottom: 20px;
    max-width:100%;
    height:auto;
    opacity: 1;
    animation: 2s papersslidefade 1s forwards;
}

@keyframes papersslidefade{
    100%{
        margin: 70px 0px -10px 0px;
        opacity: 1;
    }
}

.papers.container{ /* Holds all of the paper cards */
    margin-top: 40px;
    opacity: 1;
    animation: 2s fadein 2s forwards;
}

.papers h1{
    margin-bottom: 50px;
	text-align: center;
	font-size: 80px; 
}

.papers.container .row{
    align-items: center;
}

.paper-card{
    padding: 10px;
}

.paper-card:nth-child(even){
    background-color: #454955;
}

/* Contact Styles */

.contact.jumbotron{
    justify-content: flex-start;
    margin: 150px 45px;
    opacity: 1;
    animation: 1.5s fadein forwards;
    background-color: #191315;
    color: #11fe00;
	border: solid #11fe00;
	border-radius: 15px;
}

.contact.jumbotron h1{
    color: #11fe00;
}

.contact.jumbotron hr{
	background-color: #11fe00;
}

.contact.jumbotron .container h1{
    margin-top: 15px;
}

.contact.jumbotron .row{
	margin-bottom: 10px;
}

.contact.jumbotron .col-12{
	padding: 0;
}

/* Research Styles */

.research{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
    width: 70%;
    background-color: #191315;
    color: var(--font-color-primary);
	border: solid var(--font-color-primary);
	border-radius: 1.5rem;
}

.research-title{
    display: inline-block;
    padding: 2rem;
    border-radius: 1.5rem;
    border-bottom: solid var(--font-color-primary) 0.4rem;
    letter-spacing: 0.6rem;
    font-size: 4rem;
    text-align: center;
}

.research-body{
    display: inline-block;
    padding: 2.5rem 4rem;
    border-radius: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    font-size: 1.5rem;
    text-align: justify;
}

.research.jumbotron hr{
	background-color: #11fe00;
}
/* label{
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #11fe00;

