.labphoto{
    /* top | right | bottom | left */
    margin: -100px 0px -150px 0px;
    max-width:100%;
    height:auto;
}

.img-container{
    width: auto; /* width of container */
    height: auto; /* height of container */
    overflow: hidden;
    border: 5px solid black;
}

#researchphoto{height: 800 px ; width: auto;}

body{
    background-color: black;
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
}

h1{
    color: #11fe00;
}

h2{
    color: #11fe00;
}

h3{
    font-size: 50px;
    font-weight: bold;
    color: #11fe00;
}

h4{
    font-size: 30px;
    color: #11fe00;
}

h5{
    font-size: 25px;
    color: white
}

/* :any-link{ 
    color:  #11fe00;
} */

.card{
    background-color: black
}

.card-columns {
    column-count: 2;
}

label{
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #11fe00;
}
